<nav class="navbar navbar-dark bg-primary text-center text-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Audit Management Portal</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
          <ul class="navbar-nav me-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <li><a class="dropdown-item">{{userName}}</a></li>
                <li><a *ngIf="userName!='Unknown'" class="dropdown-item" (click)="OnLogOut()">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>

  </div>
</nav>