@media (min-width:992px){
div{
   bottom:0;
   height: 2em;
   position:fixed;
   text-align: center;
    width:100%
}
}
@media (max-width:992px){
div{
   bottom:0;
   height: 2em;
   position:fixed;
   overflow-y: auto;
   text-align: center;
    width:100%
}
}
