<app-header></app-header>
<div class="container mt-5">
  <p *ngIf="error!=null" class=" alert alert-danger fw-normal text-center">{{error | titlecase}}</p>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Login</h5>
      <hr>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="userName" ngModel>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" name="password" ngModel>

        </div>
        <button type="submit" class="btn btn-primary col-12">Submit</button>
      </form>
    </div>
  </div>



</div>