<div class="container">

  <form #auditForm="ngForm" (ngSubmit)="OnClick(auditForm.value)">
    <div class="mb-3 mt-3 row">
      <div class="col-3">
        <label for="projectname" class="form-label">Project Name: </label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" name="projectname" id="projectname" placeholder="Enter Project Name"
          [(ngModel)]="projectname" #pname="ngModel" aria-describedby="projname" minlength="6" required>
        <div class="form-text" id="projname" *ngIf="pname.pristine">Project Name is required</div>
        <div id="projname" *ngIf="pname.invalid && (pname.dirty || pname.touched)" class="form-text text-danger">

          <div *ngIf="pname.errors?.['required']">
            Project Name is required.
          </div>
          <div *ngIf="pname.errors?.['minlength']">
            Project Name must be at least 6 characters long.
          </div>
        </div>
        <div class="form-text text-success" *ngIf="pname.valid">Looks Good!</div>
      </div>

    </div>
    <div class="mb-3 row">
      <div class="col-3">
        <label for="managername" class="form-label">Project Manager Name:</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control " id="managername" placeholder="Enter Manager Name" name="managername"
          [(ngModel)]="managername" #mname="ngModel" minlength="6" required>
        <div class="form-text" id="projname" *ngIf="mname.pristine">Manager Name is required</div>
        <div id="projname" *ngIf="mname.invalid && (mname.dirty || mname.touched)" class="form-text text-danger">

          <div *ngIf="mname.errors?.['required']">
            Manager Name is required.
          </div>
          <div *ngIf="mname.errors?.['minlength']">
            Manager Name must be at least 6 characters long.
          </div>
        </div>
        <div class="form-text text-success" *ngIf="mname.valid">Looks Good!</div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-3">
        <label for="ownername" class="form-label">Owner Name:</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" id="ownername" placeholder="Enter Owner Name" name="ownername"
          [(ngModel)]="ownername" #ownname="ngModel" minlength="6" required>
        <div class="form-text" id="projname" *ngIf="ownname.pristine">Owner Name is required</div>
        <div id="projname" *ngIf="ownname.invalid && (ownname.dirty || ownname.touched)" class="form-text text-danger">

          <div *ngIf="ownname.errors?.['required']">
            Owner Name is required.
          </div>
          <div *ngIf="ownname.errors?.['minlength']">
            Owner Name must be at least 6 characters long.
          </div>
        </div>
        <div class="form-text text-success" *ngIf="ownname.valid">Looks Good!</div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-3">
        <label class="form-label">Select Audit Type: </label>
      </div>
      <div class="col-9">
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="radio1" name="audittype" value="Internal" ngModel>
          <label class="form-check-label" for="radio1">Internal</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="radio2" name="audittype" value="SOX" ngModel>
          <label class="form-check-label" for="radio2">SOX</label>
        </div>
        <button type="submit" class="btn btn-sm btn-success" 
        [disabled]="auditForm.invalid">Get Questions</button>
      </div>
    </div>

    <p *ngIf="error!=null" class="text-danger">{{error}}</p>
  </form>
</div>

<div *ngIf="flag">
  <form #questionForm="ngForm" class="mt-2" (ngSubmit)="checkSeverity(questionForm.value)">
    <div class="container bg-light">
      <h3 class="text-center">List of Audit Questions of type {{audittype}}</h3>
      <div *ngFor="let question of questions; let i=index" >
        <div class="row mb-3" >
          <div class="col-9 fs-5">
            {{i+1}}) {{question}}
          </div>
          <div class="col-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label"></label>
              <input type="radio" class="form-check-input" #qname="ngModel"  name={{i}} value="Yes" ngModel >Yes
            </div>

            <div class="form-check form-check-inline">
              <label class="form-check-label"></label>
              <input type="radio" class="form-check-input" name={{i}} value="No" ngModel>No
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="questionForm.invalid">Submit</button>
    </div>
  </form>
</div>