<div class="container">
    <table class="table table-hover">
        <div *ngIf="auditResponse['executionstatus']=='RED'">
            <tr class="table-danger">
                <th>ExecutionStatus</th>
                <th>ActionDuration</th>
            </tr>
            <tr class="table-danger">
                <td>{{auditResponse['executionstatus']}}</td>
                <td>{{auditResponse['actionduration']}}</td>
            </tr>
        </div>
        <div *ngIf="auditResponse['executionstatus']=='GREEN'">
            <tr class="table-success">
                <th>ExecutionStatus</th>
                <th>ActionDuration</th>
            </tr>
            <tr class="table-success">
                <td>{{auditResponse['executionstatus']}}</td>
                <td>{{auditResponse['actionduration']}}</td>
            </tr>
        </div>
    </table>
</div>